<div class="jumbotron">
    <h3>Cadastro de Clientes</h3>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Qual cliente você está buscando?">
    <span class="mensagem-erro">{{message}}</span>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('id')" style=" color: inherit;">Id</a></th>
            <th><a href="" ng-click="ordenarPor('name')" style=" color: inherit;">Nome</a></th>
            <th>Endereço</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Hora de Cadastro</th>
        </tr>

        <tr ng-class="{'selecionado negrito': cliente.selecionado}" ng-repeat="cliente in clientes | filter:{name: criterioDeBusca} | orderBy:criterioDeOrdenacao:inverso">
            <td><input type="checkbox" ng-model="cliente.selecionado" ></td>
            <td>{{cliente.id}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.endereco}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.horario_cadastro}} </td>
        </tr>
    </table>
    <br>

    <form name=clienteForm>
        <input class="form-control" type="text" ng-model="cliente.name" name="clienteNome" placeholder="Nome do Cliente" ng-required="true">
        <input class="form-control" type="text" ng-model="cliente.endereco" name="clienteEndereco" placeholder="Endereço do Cliente" ng-required="true">
        <input class="form-control" type="text" ng-model="cliente.cpf" name="clienteCPF" placeholder="CPF do Cliente" ng-required="true" ng-pattern="/^\d{3}.\d{3}.\d{3}-\d{2}$/">
        <input class="form-control" type="text" ng-model="cliente.telefone" name="clienteTelefone" placeholder="Telefone do cliente" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
    </form>
    <div ng-messages="clienteForm.clienteTelefone.$error" ng-show="clienteForm.clienteTelefone.$dirty">
        <div class="alert alert-danger" ng-message="pattern">
            Campo telefone deve ter o formato 00000-0000 ou 0000-0000
        </div>
    </div>
    <div ng-messages="clienteForm.clienteCPF.$error" ng-show="clienteForm.clienteCPF.$dirty">
        <div class="alert alert-danger" ng-message="pattern">
            Campo CPF deve ter o formato 000.000.000-00
        </div>
    </div>
    <button class="btn btn-primary btn-block" 
        ng-click="adicionaCliente(cliente)"
        ng-disabled="clienteForm.$invalid">
            Adicionar Cliente
    </button>
    <button class="btn btn-danger btn-block" 
            ng-click="deletaCliente(clientes)" 
            ng-disable="!isClienteSelecionado(clientes)"> 
            Apagar Contatos 
    </button>

</div>