<div class="jumbotron">
    <h3>Cadastro de Produtos</h3>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Qual produto você está buscando?">
    <span class="mensagem-erro">{{message}}</span>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('id')" style=" color: inherit;">Id</a></th>
            <th><a href="" ng-click="ordenarPor('name')" style=" color: inherit;">Nome</a></th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade Em Estoque</th>
        </tr>    

        <tr ng-class="{'selecionado negrito': cliente.selecionado}" ng-repeat="produto in produtos | filter:{name: criterioDeBusca} | orderBy:criterioDeOrdenacao:inverso">
            <td><input type="checkbox" ng-model="produto.selecionado"></td>
            <td>{{produto.id}}</td>
            <td>{{produto.name}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.quantidade_estoque}}</td>
        </tr>
    </table>
    <br>

    <form name="produtoForm">
        <input class="form-control" type="text" ng-model="produto.name" name="produtoNome" placeholder="Nome do produto" ng-required="true">
        <input class="form-control" type="text" ng-model="produto.descricao" name="produtoDescricao" placeholder="Descrição do produto" ng-required="false">
        <input class="form-control" type="text" ng-model="produto.preco" name="produtoPreco" placeholder="Preço do produto" ng-required="true">
        <input class="form-control" type="text" ng-model="produto.quantidade_estoque" name="produtoQuantidadeEstoque" placeholder="Quantidade em estoque" ng-required="true">
        <select class="form-control" ng-model="produto.tipo">
            <option value="">Selecione um tipo...</option>
            <option value="0">Eletrônico</option>
            <option value="1">Móvel</option>
            <option value="2">Periférico</option>
        </select>
    </form>

    <button class="btn btn-primary btn-block" 
    ng-click="adicionaProduto(produto)"
    ng-disabled="produtoForm.$invalid">
        Adicionar Produto
    </button>
    <button class="btn btn-danger btn-block" 
            ng-click="deletaProduto(produtos)" 
            ng-disable="!isProdutoSelecionado(produtos)"> 
            Apagar Produtos 
    </button>
</div>