<div class="jumbotron">
    <h3>Realizar Vendas</h3>
    <span class="mensagem-erro">{{message}}</span>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('id')" style=" color: inherit;">Id</a></th>
            <th>Comprador</th>
            <th>Produto Vendido</th>
            <th>Quantidade Vendido</th>
            <th>Horário da Venda</th>
        </tr>
        <tr ng-class="{'selecionado negrito': venda.selecionado}" ng-repeat="venda in vendas | orderBy:criterioDeOrdenacao:inverso">
            <td><input type="checkbox" ng-model="venda.selecionado"></td>
            <td>{{venda.id}}</td>
            <td>{{venda.cliente.name}}</td>
            <td>{{venda.produto.name}}</td>
            <td>{{venda.quantidade_vendido}}</td>
            <td>{{venda.horario_venda}}</td>
        </tr>
    </table>
    <br>
    <form name="vendaForm">
        <select class="form-control" ng-model="venda.cliente" ng-options="cliente.id as cliente.name for cliente in clientes" ng-required="true">
            <option value="">Selecione um cliente</option>
        </select>
        <select class="form-control" ng-model="venda.produto" ng-options="produto.id as produto.name + ' - ' + produto.quantidade_estoque + ' em estoque' for produto in produtos" ng-required="true">
            <option value="">Selecione um produto</option>
        </select>
        <input class="form-control" type="text" ng-model="venda.quantidade_vendido" placeholder="Número de unidades desejadas" ng-required="true">
    </form>
    <button class="btn btn-primary btn-block" 
    ng-click="adicionaVenda(venda)"
    ng-disabled="vendaForm.$invalid">
        Adicionar Venda
    </button>
    <button class="btn btn-danger btn-block" 
            ng-click="deletaVenda(vendas)" 
            ng-show="isVendaSelecionado(vendas)"> 
            Apagar Contatos 
    </button>
</div>  